{% extends "base.html" %}
{% load static %}  
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row">
  <h1>Привет, я Дмитрий</h1>
   <aside class="col-12 col-md-3">
    <p> 
      Я начал программировать в 1987 году в ВУЗе как любитель, а в 1991 году начал работать программистом.
      До 2011 года я проектировал, разрабатывал и внедрял различные банковские (и не только) приложения.
      Потом был перерыв 11 лет. 
      <a href="https://tula.hh.ru/resume/65ccfb13ff0942cdd40039ed1f576b516d6436">Сейчас хочу вернуться в программирование </a>
      и получаю огромное удовольствие от 
      <a href="https://github.com/Dnevvs">этого </a>
      и от обучения на Яндекс.Практикуме.
    </p>
    <p>
        Пока у меня очень слабо с версткой страниц, поэтому ... 
      </p>
      <img src="{% static 'auth1.png' %}" width="200" height="300"
      class="d-inline-block align-top" alt="">
   </aside>
</div>
{% endblock %} 